<footer op-60>
  <p mt-6 text-sm text-slate>

    <a
    border-b border-slate border-none hover:border-dashed
      href="http://qlgld.616227.xyz" target="_blank"
    >
      在线观影
    </a>
    <span px-1>|</span>
  </p>
</footer>
